<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title selmon
	body(style="font-family:sans-serif;")
		div
			b Timestamp: 
			=timestamp.toFormat('yyyy-MM-dd HH:mm:ss')
		div
			b Last entry: 
			=lastLog
		div
			b Running since: 
			=startTime.toFormat('yyyy-MM-dd HH:mm:ss')